extends layout

block content
  script(src="/javascripts/autocomplete.js")
  h1= title
  p Is
    form(action='/search',method='post')
      input(type="text",id="product",name="product")
      p compatable with
      input(type="text",id="mstrversion",name="mstrversion")
      p ?
      input(type='submit')